<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Comments and Notes</title>
</head>
<body>
    <header>
        <h1>Comments and Notes</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <form action="/createUser" method="post">
            <section>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="">
            </section>
            <section>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="">
            </section>
            <section>
                <label for="email">Email</label>
                <input type="email" name="email" id="">
            </section>
            <button>Create User</button>
        </form>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>