<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{item.item}}</title>
</head>
<body>
    <header>
        <h1>{{item.item}}</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <h2>Product Name: {{item.item}}</h2>
        <h3>Product Price: ${{item.price}}</h3>
        <h3><textarea cols="30" rows="10">{{item.info}}</textarea></h3>
        <h3>Product Added By: {{item.creator.fullName()}}</h3>
        <form action="/product/{{item.id}}/order/" method="post">
            <button>Order Item</button>
        </form>
        <table>
            <tr>
                <th>List of who has ordered this</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{order.who.firstName}}</td>
                </tr>
            {% endfor %}
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>