<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Create A Trainer</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <form action="/createTrainer" method="post">
            <section>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName">
            </section>
            <section>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName">
            </section>
            <section>
                <label for="bio">Bio</label>
                <textarea name="bio" cols="30" rows="10"></textarea>
            </section>
            <button>Add Trainer</button>
        </form>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>