<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Cookie Orders</title>
</head>
<body>
    <header>
        <h1>Cookie Orders</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <h2>All Orders:</h2>
        <table>
            <tr>
                <th>Customer Name</th>
                <th>Cookie Type</th>
                <th>Number of Boxes</th>
                <th>Actions</th>
            </tr>
            {% for cookie in cookies %}
                <tr>
                    <td>{{cookie.name}}</td>
                    <td>{{cookie.type}}</td>
                    <td>{{cookie.number}}</td>
                    <td><a href="/cookie/{{cookie.id}}/edit">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>