<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <form action="/createGame/" method="post">
            <section>
                <label for="teamOne">Team One</label>
                <input type="text" name="teamOne" id="">
            </section>
            <section>
                <label for="teamTwo">Team Two</label>
                <input type="text" name="teamTwo" id="">
            </section>
            <section>
                <label for="finalScore">Final Score</label>
                <input type="text" name="finalScore" id="">
            </section>
            <section>
                <label for="info">Information</label>
                <textarea name="info" id="" cols="30" rows="10"></textarea>
            </section>
            <section>
                <label for="gameDate">Game Date</label>
                <input type="date" name="gameDate" id="">
            </section>
            <input type="hidden" name="user_id" value="{{user.id}}">
            <button>Add Game Scores</button>
        </form>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>