.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
table,
td,
th,
tr {
  border: 1px double #e86868;
}
td,
th {
  padding: 1em;
}
a {
  color: teal;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #acb2d5;
  color: teal;
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}
body header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 85%;
  justify-content: space-evenly;
}
body .messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e86868;
  color: #000;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}
body main .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  justify-content: space-around;
}
body main .row .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px double #e86868;
  width: 25%;
  min-height: 400px;
  padding: 2em;
}
body main .row form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main table tr td img {
  max-width: 200px;
}
body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
