<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>, Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome, </h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <h2>Flask Store</h2>
        <table>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Added by</th>
                <th>Times Ordered</th>
                <th>Actions</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{item.item}}</td>
                    <td>${{item.price}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.ordered|length}}</td>
                    <td>
                        {% if item.user_id %}
                            <button><a href="/product/{{item.id}}/view/">View</a></button><button><a href="/product/{{item.id}}/edit/">Edit</a></button><button><a href="/product/{{item.id}}/delete/">Delete</a></button>
                        {% else %}
                            <button><a href="/product/{{item.id}}/view/">View</a></button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>