body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
